.modal.display-none {
  display: none;
}
.modal.display-block {
  position: absolute;
  background-color: rgba(119, 119, 119, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
}
.container-modal {
  margin: auto;
  max-width: 500px;
  width: 100%;

  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.container-modal h2 {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
.buttons button {
  margin-left: 10px;
}
